<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <title>Evaluate a news article or text with Aylient NLP</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Motasem Odeh
            </div>
            <div class="">
                <img src="../media/logo.svg" alt="">
            </div>
        </header>
        <div class="page-h1">
            <h1>Need a place to stay?
            </h1>
        </div>
    
    <form id="travel-form" onsubmit="return Client.handleSubmit(event)">
        <div class="form-destination">
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required>
        </div>

        <div class="form-departure">
            <label for="departure-date">Departure Date:</label>
            <input type="date" id="departure-date" name="departure-date" required>
        </div>
        <input type="submit" value="Search for hotels" class="btn">
    </form>
    <div id="weather-info"></div>
    <footer>
        <p>Mo'tasem Odeh</p>
    </footer>

</body>
</html>