<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article or text with Aylient NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Motasem Odeh
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="destination" type="text" name="input" value="" placeholder="Enter City">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div class="results">
                <div id="lan"></div>
                <div id="lat"></div>
                <div id="country"></div>
                <div id="weather-description"></div>
                <div id="temperature"></div>
                </div>
                <div id="error"></div>
            </section>
        </main>

        <footer>
            <p>Mo'tasem Odeh</p>
        </footer>

        <!-- <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                    .then(registration =>{
                        console.log('SW registered successfuly: ', registration);
                    });
                });
            }else{
                console.log("Service Working is not supported");
            }
    </script> -->
    </body>
</html>
